/*Veethacheng Thao*/
body{
  /*background-color: #003300;*/
  background-image: url("http://kingofwallpapers.com/road/road-015.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: impact;
  text-align: center;
  color: orange;
}
p{
  font-family: arial;
  color: blue;
}
img{
border: solid;
}
